.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess
!system/.htaccess
!system/*/.htaccess

composer.lock
*.notes
*.sql

/vendor/
/uploads/
node_modules/